.score, .bestScore{
    background-color: #BBADA0;
    margin: 2px;
    align-items: start; 
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 15px 25px;
    max-height: 28px;
    font-weight: bold;
}

@media screen and (max-width : 520px){
    .score, .bestScore {
        background-color: #BBADA0;
        margin: 2px;
        align-items: start; 
        justify-content: center;
        text-align: center;
        color: white;
        border-radius: 3px;
        padding: 10px 15px;
        max-height: 28px;
        font-weight: bold;
    }
}
