.info{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title{
  font-size: 3rem;
  color : #776E65;
}
.scores{
  justify-content: space-evenly;
  display: flex;
}
.score {
  background-color: #BBADA0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 15px 25px;
  max-height: 28px;
  font-weight: bold;
  overflow : hidden;
  width: 28px;
}
.best{
  background-color: #BBADA0;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 3px;
  padding: 15px 25px;
  max-height: 28px;
  font-weight: bold;
  overflow : hidden;

  width: 65px;
}
.score p, .best p {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 25px;
  margin-bottom: 0px;
  color : #ffffff90;
  font-weight: bold;
}
.score span, .best span{
  font-size: 25px;
  margin-bottom: 25px;
}
.game{
  position: relative;
  width: 500px;
  height: 500px;
  background-color: #bbada0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  width: 470px;
  height: 470px;

}
.row{
  width: 470px;
  height: 105px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.emptyCell{
  width: 106.25px;
  width: 106.25px;
  text-align: center;
  background-color: #EEE4DA59;
  border-radius: 3px;
}
.filledCell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 107px;
  width: 107px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
}
.gameOver{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right : 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEE4DA90;
  color: #776e65;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  z-index:100;
}
.retryButton{
  margin: 10px;
  display: inline-block;
  background-color: #8F7A66;
  border-radius: 3px;
  color: #F9F6F2;
  font-size: 18px;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
